<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 日志保存目录 -->
	<property name="LOG_PATH" value="logs"/>

	<!-- 配置日志输出格式，调用方式：${LOG_PATTERN} -->
	<property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

	<!-- 配置系统日志输出 -->
	<appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>


	<!--根据设置日志级别，屏蔽相关的日志：以下包及子包的日志会屏蔽掉-->
	<logger name="org.springframework" level="WARN"/>
	<logger name="com.alibaba.druid" level="INFO"/>
	<logger name="org.apache" level="WARN"/>

	<!-- 项目中info级别的日志会输出到以下日志对象中 -->
	<root level="DEBUG">
		<appender-ref ref="consoleLog" />
	</root>
</configuration>